#!/bin/bash -x
#SBATCH --account=cstma
#SBATCH --nodes=1
#SBATCH --ntasks=#proc_col#
#SBATCH --ntasks-per-node=#proc_col#
#SBATCH --output=mpi-out.%j
#SBATCH --error=mpi-err.%j
#SBATCH --time=00:30:00
#SBATCH --partition=dc-cpu

export PATH="$PATH:/p/home/jusers/aklovi1/jureca/.julia"
srun python boltzmann1.py --rolling=32 --time_intervals=1 --proc_col=#proc_col#>> scaling_petsc1.out
touch ready
