#!/bin/bash -x
#SBATCH --account=cstma
#SBATCH --nodes=#nodes#
#SBATCH --ntasks=#nproc#
#SBATCH --ntasks-per-node=64
#SBATCH --output=mpi-out.%j
#SBATCH --error=mpi-err.%j
#SBATCH --time=00:20:00
#SBATCH --partition=dc-cpu

srun python boltzmann1.py --rolling=#rolling# --time_intervals=#time_intervals# --proc_col=#proc_col#>> scaling_petsc1.out
touch ready
