#!/bin/bash -x
#SBATCH --account=cstma
#SBATCH --nodes=#nodes#
#SBATCH --ntasks=#nproc#
#SBATCH --ntasks-per-node=#ntasks_per_node#
#SBATCH --output=mpi-out.%j
#SBATCH --error=mpi-err.%j
#SBATCH --time=00:07:00
#SBATCH --partition=batch

srun python run.py --time_intervals=#time_intervals# --rolling=#rolling# --proc_row=#time_intervals# > results.out
touch ready
